@{
    ViewData["Title"] = "Info";
}

<h1>User Info</h1>
This page displays what we know about the current user:
<br />

@foreach (var identity in @User.Identities)
{
    <h4>Name: @(identity.Name ?? "Unknown")</h4>
    <dl>
        <dt>AuthenticationType</dt>
        <dd>@identity.AuthenticationType</dd>

        <dt>IsAuthenticated</dt>
        <dd>@identity.IsAuthenticated</dd>
        <dt>Name</dt>
        <dd>@(identity.Name ?? "Unknown")</dd>
    </dl>

    <br />
    <h4>Claims</h4>
    <table>

        @foreach (var claim in identity.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>

    <br /><br />

    <table>
        <tr>
            <td>
                id_token
                <div id="jwt_io_idtokenurl"></div>
            </td>
            <td id="id_token" style="width: 500px; word-wrap: break-word; display: inline-block; vertical-align: top;"> @ViewData["idToken"]</td>
        </tr>
        <tr>
            <td>
                access_token
                <div id="jwt_io_accessurl"></div>
            </td>
            <td id="access_token" style="width: 500px; word-wrap: break-word; display: inline-block; vertical-align: top;"><br /> @ViewData["accessToken"]</td>
        </tr>
    </table>
}